/*
 

*/

body {
	background-color: #ffffff;
	font-family: Georgia, serif; 
	color: #555555; 
	width: 85%;
	margin: auto;

}

h1 {
	color: turquoise;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 2em;
}

h2 {
	color: orange;

}

#contact{
	background-color: purple;
	color: white;
	padding: 5px;
	width: 50%;
	margin: auto;
}

#contact p {
	text-align: center;
}
