/*
light blue: #226688
dark blue: #112233
bright blue: #66aacc
cranberry: #931D34
green: #cccc55


*/
body {
	width: 75%;
	margin: auto;
	max-width: 800px;	
	color: #555;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	background-color: #e5f5ff;
}

#main {
	min-height: 100%;
	bottom: 0;
	position: absolute;
	max-width: 800px;
}

div.nav {
	display: table;
}
.nav {
	list-style: none;
	margin: 20px auto;
	
}

.nav li {
	font-weight: bold; 
	display: inline-block;
}


.nav .navLink {
	text-align: center;
}


.nav a {
	border: 2px #555 solid;
	text-decoration: none; 
	display: block;
	width: 9em;
	color: #555;
	padding: .75em;
	margin: .5em;
}

.nav a:hover {
	color: #66aacc;	
	border: #66aacc 2px solid;
}



#about{
	display: table;
    margin: 0 auto;
	text-align: justify;
	font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
	background-color: white;
	padding: 20px; 
}

h1 {
	font-size: 220%;
	font-family: 'Alegreya', serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: #123;
	font-weight: bold;
}

#about img {
	margin-bottom: 20px;
}


#cv {
	top: 100%;
	position: absolute;
	padding-bottom: 250px;
	max-width: 800px;	
}

#cv ul {
	list-style-type: none;
	font-weight: bold;
	font-family: 'Alegreya', serif;
}

#cv ul li{
	font-size: 140%;
	color: #123;
}

#cv ul ul li{
	font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
	font-weight: normal;
	font-size: 100%;
	padding: 10px 0;
	color: #555;
}

.toTop {
	color: #2255aa;
	font-weight: bold;
	font-size: 150%;
	text-decoration: none;
}

a:hover{
	color: #6ac;
}