
body {
	width: 75%;
	margin: auto;
	max-width: 800px;	
	color: #444444;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}

#main {
	min-height: 100%;
	bottom: 0;
	position: absolute;
	max-width: 800px;		
}

div.nav {
	display: table;
	text-align: left;
	padding: 10px 0 0 0; 
}

ul .nav {
	list-style: none;
}

.nav li {
	font-weight: bold; 
	display: inline;
	padding: 15px; 
}

.nav a {
	text-decoration: none; 
	color: black;
}

.nav a:hover{
	color: #2255aa;
}

#about{
	display: table;
    margin: 0 auto;
	text-align: left;
	font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
}

strong {
	font-size: 150%;
}

a {
	text-decoration: none;
	color: #2255aa;
	font-weight: bold;
}

a :hover{
	color: blue;
}
#cv {
	top: 100%;
	position: absolute;
	padding-bottom: 100px;
	max-width: 800px;	
}

#cv ul {
	list-style-type: none;
	font-size: 1.5em;
	font-weight: bold;
}

#cv ul ul li{
	font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
	font-weight: normal;
	padding: 10px 0;
	font-size: .5em;
}