/*
light blue: #226688
dark blue: #112233
bright blue: #66aacc
cranberry: #931D34
green: #cccc55


*/
body {
	width: 100%;
	margin: 0;
	color: #555;
	font-family: "Ubuntu", Arial, serif;
	background-color: #D1CDCC;
}

#banner {
	width: 100%;
	margin: 0;
}

#main { 
	margin: 0;
}

#header {
	background-color: #A89D9B;
	margin: 0;
	padding: 5%;
}

#nav {
	width: 100%;
}


#about{

}

#about p{
    margin: auto;
	padding: 50px 0;
	max-width: 800px;
}

.navList {
	list-style: none;
	text-align: center;
	display: block;
	margin:0;
	background-color: #F13769;
	
}

.navList li {
	font-weight: bold; 
	display: inline-block;
	text-align: center;
	font-family: 'Lustria', Georgia, serif;
}


.navList a {
	text-decoration: none; 
	display: block;
	width: 9em;
	color: white;
	margin: 1em;
}

h1 {
	font-size: 220%;
	font-family: 'Lustria', Georgia, serif;
	text-align: center;
	color: white;
	padding: 0;
}

.emph {
	font-family: 'Lustria', Georgia, serif;
	color: #F13769;
	font-weight: bold;
	font-size: 300%;
	text-transform: uppercase;
	display: block;
	padding-bottom: 10px;
}

#cv .emph {
	padding-top: 20px;
}

a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

a:hover{
	text-decoration: underline;
}

#cv {
	margin: auto;
	max-width: 800px;
}

#cv ul {
	list-style-type: none;
	font-weight: bold;
	font-family: 'Lustria', Georgia, serif;
}

#cv ul li{
	font-size: 140%;
	color: #123;
}

#cv ul ul li{
	font-family: 'Lustria', Georgia, serif;
	font-weight: normal;
	font-size: 100%;
	padding: 10px 0;
	color: #555;
}

p {
	color: #555;
	line-height: 1.5em;
	text-align: justify;
	padding: 0 25px;
}