#tmcf {
 display:none;
}
#preface {
 display:none;
}

#s1 {
 display:none;
}

#s2 {
 display:none;
}

#s3{
 display:none;
}

#title{
 display:none;
 text-align: center;
}
#title img{
 width: 100%;
 max-width: 600px;
}


#game {
 display:none;
 text-align: center;
}
#game img{
 width: 100%;
 max-width: 600px;
}

.content img {
max-width: 100%;
}

#note {
 display:none;
}
#refs {
 display:none;
}
hr{
	width: 100px;
}

h1 /*Chapter titles*/{
text-align: center; 
font-size: 1.5em;

}

h2 /*Section titles*/ {
text-align: center; 
font-size: 1.25em;
}

h3 /*Epigraphs*/ {
text-align: center; 
font-size: .75em;
}

h4 /*poem title*/ {
text-align: center; 
}

body {
font-family: Georgia, Times New Roman, Times, serif;
}

a.n{
text-decoration: none;
color: #F68A7A;
cursor:pointer;
}

p.first{

}

p.bp{
text-indent: 1.5em;
text-align: justify; 
}
p.bq{

}
p.hp{
text-align: justify; 
}

p.stanza{
text-align:left;

}

span.dropCap{
  float:left;
  font-size:220%;
  margin-top:-5px;
}

.prop /*single proposition*/{
	display: block;
	width: 100%;
	text-align: center;
	padding: 5px;
}
.prop2 /*single proposition*/{
	display: block;
	width: 100%;
	text-align: center;
	padding: 5px;
	text-indent: 1em;
}

table.syl{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: 7px;
	margin-bottom: 7px;
}


.2syl{
	
}

td.bracket{
font-size: 2em;	
text-align: left;
}

.3syl{

}
.diagram{
	display: block;
	width: 100%;
	text-align: center;
	padding: 5px;
}

#bigTable{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#bigTable td{
	padding-left: 10px;
}

.ems{
	letter-spacing: -2px;
}